<link rel="stylesheet" href="/static/css/style.css" type="text/css">
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Auto Grader</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    {% if session['logged_in'] %}
    <p>You're logged in already!</p>
    {% else %}
  <p>Please enter login credentials.</p>
<form action="/login" method="POST">
  <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log in">
</form>
{% endif %}
{% endblock %}
  </body>
</html>
